* {
  box-sizing: border-box;
}

body {
  background-color: rgb(231, 220, 220);
}
.titulo div {
  display: flex;
  justify-content: space-evenly;

  text-align: center;
  width: 100%;
}
.titulo div h1 {
  padding: 2rem;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2rem;
}

.palavras {
  display: flex;
  justify-content: space-evenly;
  text-align: center;

  width: 100%;

  height: fit-content;
}

.palavras div {
  display: flex;
  padding: 2rem;

  justify-content: space-evenly;
  width: fit-content;
  flex-wrap: wrap;
}

.palavras div p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  text-transform: uppercase;
  color: white;
  /* background-color: #36a9ae; 
  background-image: linear-gradient(#37adb2, #329ca0);  */
  border: 1px solid #2a8387;
  font-size: 1rem;
  text-align: center;

  padding: 5px;
  width: 180px;

  margin-left: 2rem;
  height: 32px;
  text-align: center;
  border-radius: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  outline: 0;
  cursor: pointer;
}

.inserir {
  display: flex;
  justify-content: center;
}

.inserir div {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin-top: 3rem;
}

.inserir button {
  padding: 1px 1rem;
  background-color: white;
  border: 0px;
  text-align: center;
  border-radius: 4px;
  height: 30px;
  margin-left: 10px;
}

.inserir input {
  height: 30px;
  border-radius: 4px;
  border: none;
}

/* CSS */
.button-25 {
  background-color: #36a9ae;
  background-image: linear-gradient(#37adb2, #329ca0);
  border: 1px solid #2a8387;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 100%;
  margin: 0;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow 0.05s ease-in-out, opacity 0.05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-25:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset,
    rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: 0.15s, 0.15s;
}

.button-25:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.button-25:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.button-25:disabled:active {
  pointer-events: none;
}

.button-25:disabled:hover {
  box-shadow: none;
}
.dicas1 h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.dicas {
  display: grid;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 1 / 4 / 2 / 5;
}
.div5 {
  grid-area: 1 / 5 / 2 / 6;
}
.div6 {
  grid-area: 1 / 6 / 2 / 7;
}

.dicas div {
  display: flex;
  flex-direction: column;
  justify-content: s;
  padding: 10px;
}

.dicas div p {
  text-align: center;
  padding: 1rem 0rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.dicas div .dica {
  text-align: center;
  width: fit-content;
  height: fit-content;
  line-height: normal;
}
.botao-escondido {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  text-align: center;
  padding: 4rem;
}
.div-erro {
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 30px;
}
.erro {
  text-align: center;
  color: red;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
